<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fab fa-spotify fa-7x"></i>
    <h1 class="display-3 text-h1">Music Player</h1>
    <p class="lead">Join and Listen to few of my favourite J-POP Songs</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
